<%= form_with(url: search_path, method: :get, class: "flex w-full justify-center") do |form| %>
    <%= form.text_field :query, placeholder: "Search", class: "w-full p-4 rounded-xl bg-gray-100 focus:ring-0 focus:border-gray-400 border-gray-400 focus:drop-shadow-xl" %>
  </div>
<% end %>